
 .trad-wrap{
   color:red;
 }
 .main-content{
   width: 1100px;
   margin: 0 auto;
   text-align: left;
 }
 .home-account-show{
     margin-top:80px;
     h5{
       border-left: solid 4px #cb53ff;
       height: 30px;
       line-height: 30px;
       vertical-align: middle;
       padding-left: 20px;
     }
 }